
.home{
    display: flex;
    flex-direction: column;
    position: relative;

    .home__container{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid $red;
        width: 480px;
        height: auto;
        padding: 180px;
        @media screen and (max-width: $notebook) {
            padding: 90px;
            width: 420px;
            gap: 20px;
        }
        h1{
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 120px;
            @media screen and (max-width: $notebook) {
                margin-bottom: 0;
            }
        }
        .home__welcome__box{
            width: 48   0px;
            border-radius: 20px;
            border: 1px solid $red;
            h2{
                border-bottom: 1px solid $red;
                padding: 20px;
                text-align: left;
                font-size: 2.7rem;
                background-color: $light-gray;
                border-radius: 20px 20px 0 0;
            }
            p{
                padding: 15px 30px 40px 15px;
                text-align: left;
            }
        }
        a{
            width: fit-content;
            align-self: center;
            button{
            margin-top: 40px;
            width: auto;
            align-self: center;
            @media screen and (max-width: $notebook) {
                margin-top: 0;
            }
        }
        }
    }
    .home__logo{
        position: absolute;
        right: -20px;
        bottom: 0;
        @media screen and (max-width: $notebook) {
            right: -80px;
        }
    }
}